serv-API

# Node modules
node_modules/
client-taskstodo/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
client-taskstodo/logs/

# Build directory
build/
client-taskstodo/build/

# Dependency directories
node_modules/
jspm_packages/
client-taskstodo/jspm_packages/

# Production
/dist
client-taskstodo/dist/

# Optional npm cache directory
.npm
client-taskstodo/.npm

# Mac OS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
client-taskstodo/.vscode/
client-taskstodo/.idea/

# Operating system files
Thumbs.db
Desktop.ini

# Local environment files

client-taskstodo/.env
client-taskstodo/.env.local
client-taskstodo/.env.*.local
.DS_Store
taskstodo/serv_api
taskstodo/.env
